<header>
  <navigation-bar></navigation-bar>
</header>


<main role="main" class="flex-container">

</main>

<footer class="footer bg-dark text-white text-center py-2 text-sm-left">
  <div class="row container mx-auto">
    <div class="col-12 col-sm-4">
      <h3>Quick Links</h3>
      <ul class="list-unstyled">
        <li><a>Heath Ministry India</a></li>
        <li><a>Blood Bank</a></li>
        <li><a>World Health Organisation (WHO)</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-4">
      <h3>Contact Us</h3>
      <ul class="list-unstyled">
        <li><span class="icon-facebook2 social"></span>hms facebbok</li>
        <li><span class="icon-instagram social"></span>hms insta</li>
        <li><span class="icon-mail4 social"></span>hms@gmail.com</li>
      </ul>
    </div>
    <div class="col-12 col-sm-4">
      <h3>Team Members</h3>
      <ul class="list-unstyled">
        <li>Abhigna</li>
        <li>Dhruva</li>
        <li>Madhumaya</li>
        <li>Pavithra</li>
        <li>Sahana</li>
      </ul>
    </div>
  </div>
</footer>